# input dir
test
imgs
input
# output dir
test_output
logs
new
# model dir
models
notebooks
site
*.pdf
# training dirs/files (since wip)
ucr/core/loss/
ucr/core/metric/
ucr/core/solver/
ucr/train.py
inference/onnx/
ucr/utils/stats.py
ucr/utils/program.py
ucr/utils/gen_label.py
ucr/core/postprocess/craft_postprocess.py
# compilation and distribution
__pycache__
_ext
*.vscode
*.pyc
*.pyd
*.so
*.dll
*.egg-info/
build/
dist/
wheels/

# pytorch/python/numpy formats
*.pth
*.pkl
*.npy
*.ts

# ipython/jupyter notebooks
*.ipynb
**/.ipynb_checkpoints/
